<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Professor Huping Ling</a>
        <div class="social-buttons d-flex gap-2 me-3">
            <a href="https://www.facebook.com/huping.ling/" target="_blank" class="btn btn-outline-light btn-sm" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/huping_ling" target="_blank" class="btn btn-outline-light btn-sm" aria-label="X"><i class="fab fa-x-twitter"></i></a>
            <a href="https://instagram.com/huping.ling/" target="_blank" class="btn btn-outline-light btn-sm" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/huping-ling-83348646/" target="_blank" class="btn btn-outline-light btn-sm" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="books.html">Books</a></li>
                <li class="nav-item"><a class="nav-link" href="publications.html">Publications</a></li>
                <li class="nav-item"><a class="nav-link" href="talks.html">Talks</a></li>
                <li class="nav-item"><a class="nav-link" href="awards.html">Awards</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>